.hero {
  @include media(to-desktop) {
    padding-top: 40px;
  }
  @include media(desktop) {
    position: relative;
    display: flex;
  }
}

.hero__title {
  margin-bottom: 8px;

  @include media(desktop) {
    text-align: start;

    width: 588px;
    padding-top: 60px;
    margin: 0 24px 0 0;
  }
}

.hero__description {
  margin-bottom: 16px;

  @include media(desktop) {
    display: flex;
    flex-direction: column-reverse;

    width: 588px;
    margin-bottom: 0;
  }
}

.hero__text {
  font-weight: 500;
  font-size: 12px;
  text-align: center;

  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 0;
  }
}

.hero__img {
  width: 100%;
  @include media(to-tablet) {
    scale: 1.1;
  }

  @include media(desktop) {
    width: 588px;
    height: 398px;
    margin-bottom: 18px;
  }
}

.hero__btn {
  display: block;
  width: max-content;
  margin: 0 auto;

  @include media(desktop) {
    position: absolute;
    top: 350px;
  }
}
