.policy {
  padding-bottom: 120px;
}

.policy__text__wrapper {
  display: grid;
  gap: 8px;
  margin-bottom: 24px;
  @include media(tablet) {
    margin-bottom: 28px;
  }
  @include media(desktop) {
    margin-bottom: 32px;
  }
}

.policy__title {
  font-family: $accent-font;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
  @include media(tablet) {
    font-size: 25px;
  }
  @include media(desktop) {
    font-size: 32px;
    letter-spacing: 0.32px;
    margin-bottom: 24px;
  }
}

.policy__text {
  @include media(tablet) {
    font-size: 20px;
  }
  @include media(desktop) {
    font-size: 24px;
  }
}

.policy__accent {
  font-weight: 800;
  @include media(tablet) {
    font-size: 20px;
  }
  @include media(desktop) {
    font-size: 24px;
  }
}
