<a
  href="https://play.google.com/store/apps/details?id=com.mobowl.jfruitpunch.aos"
  class="google_logo"
  rel="nofollow noopener noreferrer"
  target="_blank"
  aria-label="Fruit Quest: Match 3 Game download link"
>
  <span>
    <img
      src="/icons/google-button/google-play-logo.svg"
      alt="Google Play Logo"
      width="24"
      height="28"
      class="google_logo__icon"
    />
  </span>
  <span class="google_logo__text"
    ><svg class="google_logo__text--get" width="44" height="8">
      <use
        href="/icons/google-button/google-btn-sprite.svg#get-in-on"
      ></use></svg
    ><svg class="google_logo__text--play" width="94" height="20">
      <use
        href="/icons/google-button/google-btn-sprite.svg#google-play-text"
      ></use></svg
  ></span>
</a>
