<section id="gallery" class="container section">
  <h2 class="section__title title">Gallery</h2>
  <div class="swiper-container-wrapper">
    <div class="swiper">
      <div class="swiper-wrapper gallery__swiper__wrapper"></div>
      <div class="swiper-pagination-custom"></div>
    </div>
    <div class="swiper-button-custom swiper-button-custom-prev">
      <svg width="40" height="40" class="swiper-chevron" aria-label="prev slide">
        <use href="/icons/symbol-defs.svg#icon-chevron"></use>
      </svg>
    </div>
    <div class="swiper-button-custom swiper-button-custom-next">
      <svg width="40" height="40" class="swiper-chevron" aria-label="next slide">
        <use href="/icons/symbol-defs.svg#icon-chevron"></use>
      </svg>
    </div>
  </div>
</section>
