<section class="container section">
  <h2 class="section__title">Gallery</h2>
  <div class="swiper-container-wrapper">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ../../img/screenshot-game-1_1x.webp 1x,
                ../../img/screenshot-game-1_2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../../img/screenshot-game-1_1x.webp 1x,
                ../../img/screenshot-game-1_2x.webp 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="../../img/logo-mobile_1x.webp"
              alt="Game's logotype"
              class="gallery__slide__img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ../../img/screenshot-game-2_1x.webp 1x,
                ../../img/screenshot-game-2_2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../../img/screenshot-game-2_1x.webp 1x,
                ../../img/screenshot-game-2_2x.webp 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="../../img/logo-mobile_1x.webp"
              alt="Game's logotype"
              class="gallery__slide__img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ../../img/screenshot-game-3_1x.webp 1x,
                ../../img/screenshot-game-3_2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../../img/screenshot-game-3_1x.webp 1x,
                ../../img/screenshot-game-3_2x.webp 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="../../img/logo-mobile_1x.webp"
              alt="Game's logotype"
              class="gallery__slide__img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ../../img/screenshot-game-4_1x.webp 1x,
                ../../img/screenshot-game-4_2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../../img/screenshot-game-4_1x.webp 1x,
                ../../img/screenshot-game-4_2x.webp 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="../../img/logo-mobile_1x.webp"
              alt="Game's logotype"
              class="gallery__slide__img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ../../img/screenshot-game-5_1x.webp 1x,
                ../../img/screenshot-game-5_2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../../img/screenshot-game-5_1x.webp 1x,
                ../../img/screenshot-game-5_2x.webp 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="../../img/logo-mobile_1x.webp"
              alt="Game's logotype"
              class="gallery__slide__img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ../../img/screenshot-game-6_1x.webp 1x,
                ../../img/screenshot-game-6_2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../../img/screenshot-game-6_1x.webp 1x,
                ../../img/screenshot-game-6_2x.webp 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="../../img/logo-mobile_1x.webp"
              alt="Game's logotype"
              class="gallery__slide__img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ../../img/screenshot-game-7_1x.webp 1x,
                ../../img/screenshot-game-7_2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../../img/screenshot-game-7_1x.webp 1x,
                ../../img/screenshot-game-7_2x.webp 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="../../img/logo-mobile_1x.webp"
              alt="Game's logotype"
              class="gallery__slide__img"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ../../img/screenshot-game-8_1x.webp 1x,
                ../../img/screenshot-game-8_2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../../img/screenshot-game-8_1x.webp 1x,
                ../../img/screenshot-game-8_2x.webp 2x
              "
              media="(max-width: 1279px)"
            />
            <img
              src="../../img/logo-mobile_1x.webp"
              alt="Game's logotype"
              class="gallery__slide__img"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-pagination-custom"></div>
    </div>
    <div class="swiper-button-custom swiper-button-custom-prev">
      <svg width="40" height="40" class="swiper-chevron">
        <use href="/icons/symbol-defs.svg#icon-chevron"></use>
      </svg>
    </div>
    <div class="swiper-button-custom swiper-button-custom-next">
      <svg width="40" height="40" class="swiper-chevron">
        <use href="/icons/symbol-defs.svg#icon-chevron"></use>
      </svg>
    </div>
  </div>
</section>
