<section class="container section hero">
  <h1 class="section__title hero__title">
    Juice up your day with the Fruit Punch Challenge!
  </h1>
  <div class="hero__description">
    <p class="hero__text">
      Dive into the juicy world of Fruit Punch! Match, splash, and combo your
      way to fruity victory now!
    </p>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ../../img/hero-section-desktop_1x.webp 1x,
          ../../img/hero-section-desktop_2x.webp 2x
        "
      />
      <source
        media="(max-width: 1279px)"
        srcset="
          ../../img/hero-section-mobile_1x.webp 1x,
          ../../img/hero-section-mobile_2x.webp 2x
        "
      />
      <img
        src="../../img/hero-section-mobile_1x.webp"
        alt="Game Logo"
        width="288"
        class="hero__img"
      />
    </picture>
  </div>

  <div class="hero__btn">
    <load ="partials/ui/button.html" />
  </div>
</section>
