<section class="section container rules" id="how-to-play">
  <h2 class="section__title">How to Play</h2>

  <ul class="rules__list"></ul>

  <div class="rules__warning">
    <p class="rules__text">
      CRAZYCASINOOFRA.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF
      WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL
      LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE.
      ENJOY PLAYING THIS GAME!
    </p>

    <div class="rules__btn">
      <load ="partials/ui/button.html" />
    </div>
  </div>
</section>
